<app-dashboard></app-dashboard>
<div class="container">
        <div class="card">
                <div class="card-body">
                  <h2>Debit Note</h2>
                  <form>
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            
                            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Select Sr. No.">
                          </div>
                         
                         
                          
                          <div class="col-auto">
                            
                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Supplier">
                              </div>
                              <div class="col-auto">
                            
                                    <input type="date" class="form-control mb-2" id="inlineFormInput" >
                                  </div>
                              <div class="col-auto">
                                    <button type="submit" class="btn btn-success mb-2">Select</button>
                                  </div>
                        </div>
                      </form>
                </div>
              </div>

</div>
