<app-dashboard></app-dashboard>
<div class="container">
        <div class="card">
                <div class="card-body">
                  <h2>Debit Note</h2>
                  <form #debitnoteForm="ngForm" (ngSubmit)="getDebit(debitnoteForm.value)">
                      <div class="form-row">
                      <div class="form-group col-md-6">
                    <label for="inputEmail4">Grp</label>
                    <input type="text" class="form-control" id="inputEmail4" name="grp" [(ngModel)]="grp">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Item</label>
                    <input type="text" class="form-control" id="inputPassword4" name="item" [(ngModel)]="item">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Branch</label>
                  <input type="text" class="form-control" id="inputAddress" name="branch" [(ngModel)]="branch">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                  <label for="inputEmail4">Qty/Pack</label>
                  <input type="number" class="form-control" id="inputEmail4" name="pack" [(ngModel)]="pack">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Manufacture id</label>
                    <input type="text" class="form-control" id="inputEmail4" name="mf" [(ngModel)]="mf">
                  </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Exp</label>
                  <input type="date" class="form-control" id="inputPassword4" name="exp" [(ngModel)]="exp">
                </div>
              </div>
                
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Qty</label>
                    <input type="number" class="form-control" id="inputCity" name="qty" [(ngModel)]="qty">
                  </div>
                  <div class="form-group col-md-4">
                      <label for="inputCity">Disc</label>
                      <input type="number" class="form-control" id="inputCity" name="disc" [(ngModel)]="disc">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Ref Bill</label>
                    <input type="text" class="form-control" id="inputZip" name="ref" [(ngModel)]="ref">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                  <label for="inputEmail4">Ref Bill Date</label>
                  <input type="date" class="form-control" id="inputEmail4" name="refdate" [(ngModel)]="refdate">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Supplier Name</label>
                  <input type="text" class="form-control" id="inputPassword4" name="supplier" [(ngModel)]="supplier">
                </div>
              </div>
               
                <button type="submit" class="btn btn-success">Insert</button>
                </form>
                <br>
                      <table class="table table-striped table-dark">
                        <thead>
                          <tr>
                            <th scope="col">Grp</th>
                            <th scope="col">Item</th>
                            <th scope="col">Branch</th>
                            <th scope="col">Qty/Pack</th>
                            <th scope="col">mf</th>
                            <th scope="col">exp</th>
                            <th scope="col">Qty</th>
                            <th scope="col">disc</th>
                            <th scope="col">ref bill</th>
                            <th scope="col">ref bill dt</th>
                            <th scope="col">Supplier Name</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let i of details">
                          <td>{{i.Grp}}</td>
                          <td>{{i.item}}</td>
                          <td>{{i.branch}}</td>
                          <td>{{i.quantity_pack}}</td>
                          <td>{{i.mf}}</td>
                          <td>{{i.exp}}</td>
                          <td>{{i.quantity}}</td>
                          <td>{{i.disc}}</td>
                          <td>{{i.ref_bill}}</td>
                          <td>{{i.ref_bill_dt}}</td>
                          <td>{{i.supplier_name}}</td>
                          </tbody>
                      </table>
                </div>
              </div>

</div>
