<div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="../../assets/PHARMAC.jpg">
                </div>
    
            <ul class="list-unstyled components">
                
                
              
                <li>
                    <a routerLink="/dashboard/invoice">Sales Invoice</a>
                </li>
                <li>
                    <a routerLink="/dashboard/debit_note">Debit Note</a>
                </li>
                <li>
                    <a routerLink="/dashboard/item_batch">Item Batch Detail</a>
                </li>
                <li>
                    <a routerLink="/dashboard/purchase">Purchase</a>
                </li>
                
            </ul>
        </nav>
   
    </div>
   
    