<div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>PharmaC</h3>
            </div>
    
            <ul class="list-unstyled components">
                
                
              
                <li>
                    <a routerLink="/dashboard/invoice">Sales Invoice</a>
                </li>
                <li>
                    <a routerLink="/dashboard/debit_note">Debit Note</a>
                </li>
                <li>
                    <a routerLink="/dashboard/item_batch">Item Batch Detail</a>
                </li>
                <li>
                    <a href="#">Purchase</a>
                </li>
            </ul>
        </nav>
    
    </div>
    