<div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>PharmaC</h3>
            </div>
    
            <ul class="list-unstyled components">
                
                
                <li class="active">
                    <a href="#">Home</a>
                </li>
               
                <li>
                    <a href="#">Sales Invoice</a>
                </li>
                <li>
                    <a href="#">Debit Note</a>
                </li>
                <li>
                    <a href="#">Item Batch Detail</a>
                </li>
                <li>
                    <a href="#">Purchase</a>
                </li>
            </ul>
        </nav>
    
    </div>
    <div class="container">

    </div>