<app-dashboard></app-dashboard>
<div class="container">
        <div class="card">
                <div class="card-body">
                  <h3>Sales Invoice</h3>
                  <h4>Discount:</h4>
                  <form #invoiceForm="ngForm" (ngSubmit)="onSave(invoiceForm.value) " novalidate>
                  
                      <div class="form-group col-md-2">
                          
                          <div class="form-check">
                                <input class="form-check-input" type="radio" id="exampleRadios1" value="item master" [(ngModel)]="master" >
                                <label class="form-check-label" for="exampleRadios1">
                                  Item Master
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio"  id="exampleRadios2" value="customer master" [(ngModel)]="master">
                                <label class="form-check-label" for="exampleRadios2">
                                  Customer Master
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" id="exampleRadios3" value="both" [(ngModel)] ="master">
                                <label class="form-check-label" for="exampleRadios3">
                                  Both
                                </label>
                              </div>
                              <br>
                            
                            <input type="number" class="form-control" id="disc" placeholder="Disc%" [(ngModel)]="disc" #disc1>
                          </div>
                          
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Item</label>
                                <input type="text" class="form-control" id="item" [(ngModel)]="item">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Name</label>
                                <input type="text" class="form-control"  [(ngModel)]="itemname">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="inputAddress">Branch/Lot</label>
                              <input type="text" class="form-control" id="branch" [(ngModel)]="branch">
                            </div>
                            <div class="form-group">
                              <label for="inputAddress2">Expiry</label>
                              <input type="date" class="form-control" id="expiry" [(ngModel)]="expiry">
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputCity">Quantity</label>
                                <input type="number" class="form-control" id="quantity" [(ngModel)]="quantity" value="00" #quantity1>
                              </div>
                              <div class="form-group col-md-4">
                                <label for="inputAddress2">Sales Rt.</label>
                                <input type="number" class="form-control" id="salesrt" [(ngModel)]="salesrt" value="00" #salesrt1>
                              </div>
                              <div class="form-group col-md-2">
                                <label for="inputZip">Mrp Box.</label>
                                <input type="number" class="form-control" id="mrpbox" [(ngModel)]="mrpbox" value="00" #mrpbox1>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <input type="number" class="form-control" placeholder="CGST" id="cgst" [(ngModel)]="cgst" #cgst1>
                              </div>
                              <div class="col">
                                <input type="number" class="form-control" placeholder="SGST" id="sgst" [(ngModel)]="sgst" #sgst1>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col">
                                <input type="number" class="form-control" placeholder="Amount" [(ngModel)]="amount" id="amount" (click)="onCal(disc1,quantity1,mrpbox1,$event)" #amount1>
                              </div>
                              <div class="col">
                                <input type="number" class="form-control" placeholder="Dosage" [(ngModel)]="dosage" id="dosage" >
                              </div>
                              <div class="col">
                                <input type="number" class="form-control" placeholder="Net Amount" [(ngModel)]="netamount" id="netamount" (click)="NetAmount(disc1,quantity1,mrpbox1,cgst1,sgst1,$event)">
                              </div>
                            </div>
                            <br>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Doctor id</label>
                                <input type="text" class="form-control" id="doctorid" [(ngModel)]="doctorid">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Customer id</label>
                                <input type="text" class="form-control" id="customerid" [(ngModel)]="customerid">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="inputAddress">Address</label>
                              <input type="text" class="form-control" id="inputAddress" [(ngModel)]="address">
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" id="exampleRadios1" value="cash" [(ngModel)]="payment">
                              <label class="form-check-label" for="exampleRadios1">
                                Cash
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" id="exampleRadios2" value="card" [(ngModel)]="payment">
                              <label class="form-check-label" for="exampleRadios2">
                                Card
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" id="exampleRadios3" value="epayment" [(ngModel)]="epayment">
                              <label class="form-check-label" for="exampleRadios3">
                                E-Payment
                              </label>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary" >Save</button>&nbsp;&nbsp;
                            
                          </form>
                          <form>
                            <div class="form-group col-md-6">
                              <label for="inputPassword4">Name</label>
                              <input type="text" class="form-control" [(ngModel)]="itemname">
                            </div>
                            <button type="submit" class="btn btn-success">Alternative</button>
                          </form>
                         
                      
                </div>
              </div>
</div>



        
